.d1{
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
    overflow: auto;
}
.d2{
    background-color: brown;
    color: #fff;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}